* {
    font-family: 'Roboto', sans-serif;
}

header {
	display: flex;
    height: 111px;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
	background-color: #6c55a0;
	color:#fff;
}

.btn-secondary {
	background-color: white;
    border: solid 1px #028fa3;
    border-radius: 4px;
    padding: 16px 14px;
    font-size: 15px;
    color: #6c55a0;
}

.btn-secondary:hover {
    background-color: #028fa3;
}

.btn-secondary img {
    margin-right: 15px;
}

a.nav-link  {
	color: #fff;
}

.banner {
    position: relative;
}

.banner img {
	margin-top: 30px;
    width: 100%;
}

.sobre {
    margin-top: 30px;
}

.sobre h2 {
    color: #6c55a0;
    font-size: 18px
    font-weight: bold;
}

.sobre img {
    float: right;
    width: 100%;
}

.content h1 {
	font-size: 2em;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}

.content p {
    font-size: 1.3em;
}

.banner .content {
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 33%;
    left: 6%;
    color: white;
    width: 60%;
    white-space: pre-line;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.banner .content .btn {
	border:none;
    border-radius: 4px;
    background-color: #6c55a0;
    font-size: 18px;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
}


.banner .content .btn:hover {
    background-color: #fff;
    color: #6c55a0;
}

.navbar-toggler-icon {
    color: white;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .content p {
        font-size: 1em;
    }

    .content h1 {
        font-size: 1.5em;
    }

    .solution .content p {
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .content p {
        font-size: 0.8em;
    }

    .content h1 {
        font-size: 1em;
    }

    .banner .content .btn {
        font-size: 10px;
        padding: 10px;
    }

    .banner .content {
        top: 30%;
        left: 5%;
        color: white;
        width: 60%;
    }
   
    .solution .content h1 {
        font-size: 18px;
    }

    .solution .content p {
        font-size: 0.5em;
    }
    
}

@media only screen and (max-width: 479px) {
    .content p {
        font-size: 0.7em;
    }

    .btn-secondary{
        display: none;
    }

    .banner .content {
        top: 28%;
        left: 6%;
        color: white;
        width: 57%;
    }

    .banner .content .btn {
        font-size: 10px;
        padding: 8px;
    }

    .content h1 {
    display: none;
    }

    footer img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer .endereco {
        text-align: center;
        margin-bottom: 30px;
        font-size: 13px;
    }

    footer nav ul {
        text-align: center;
        padding: 0 !important;
    }

    .solution .content p {
        display: none;
    }

}

footer {
    background-color: #6c55a0;
    color: white;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    padding: 50px 0 10px 0;
}

.logo-footer img {
    margin: 0 auto;
    padding: 30px;
}

.social {
    margin: auto;
}

.r {
    text-align: right;
}

.l{
    text-align: left;
}

.social img {
max-width: 50px;
}

footer .direitos {
    font-size: 0.8em;
    margin-top: 30px;
}

footer .email {
    margin-bottom: 15px;
}

.sombra-bot {
    margin: 50px 0;
}

.contato {
    padding: 50px 0;
}

.contato img {
    padding: 30px;
    margin: 50px 0;
    max-width: 100%;
}

.formulario {
    padding: 50px;
    background-color: #cfcfcf;
    border-radius: 10px;
}

.contato h1 {
    font-size: 20px;
    font-weight: 900;
    color: #6c55a0;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.solucoes h1 {
    font-size: 32px;
    font-weight: 900;
    color: #6c55a0;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.solution img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 49%;
    position: relative;
    padding-bottom: 36px;
}

.solution .content {
    position: absolute;
    top: 40%;
    right: 40px;
    margin: 0;
    width: 50%;
    color: white;
}

.solution .content h3 {
    font-size: 20px;
    font-weight: 900;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    color: white;
}

.solution .content p {
    font-size: 1em;
}

.solution .link {
    background-color: #ffffff;
    border: solid #028fa3;
    border-width: 0 1px 1px 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    text-align: right;
    position: relative;
    top: -36px;
}

.esp-top {
    margin-top: 50px;
}

.gray {
    background-color: #ededed;
    padding: 25px;
}

.gray p {
    font-size: 1em;
}

.post {
    margin: 0;
    color: black;
    padding: 15px;
}

.post img {
    width: 100%;
}

.post .content h3 {
    color: #6c55a0;
}

.post .content a {
    color: #6d7278;
}

.post-principal img {
    width: 100%;
    padding: 30px 10px;
}

.post-principal-content {
    padding: 30px 10px;
}

.post-principal-content h2 {
    color: #6c55a0;
    font-size: 1.4em;
    font-weight: 900;
}

.post-principal-content h1 {
    color: #6c55a0;
    font-size: 2em;
    font-weight: 900;
}

.post-principal-content a {
    color: #6d7278;
    font-weight: bold;
}

.sombra-post {
    width: 100%;
    margin: 0;
}

.autor-blog {
    color: #afafaf;
}

.paginacao {
    padding: 50px 0 20px 0;
}

.paginacao a {
    color: #6d7278;
}

.solucao-img {
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
}

.solucao-img img {
    margin: 0 auto;
}

.icones {
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

.icones p {
    padding: 15px;
}
.icones img {
    max-width: 75px;
    
}

.texto {
    padding: 30px;
}

.navegacao {
    margin-bottom: 30px; 
}

.navegacao a {
    background-color: #6c55a0;
    color: white;
}

.subtitulos {
    color: #6c55a0;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
}

.lista li {
    background-color: #ededed;
    padding: 15px;
    margin: 0 25px 25px 0;

}

.call {
    margin: 50px 0;
}

.call h4 {
    color: #06b2ca;
    text-transform: none;
    font-size: 1.4em;

}

.botao  {
	border:none;
    border-radius: 4px;
    background-color: #6c55a0;
    font-size: 18px;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
}

.botao:hover {
    background-color: #ededed;
    color: #6c55a0;
}


.banner .content .btn:hover {
    background-color: #fff;
    color: #6c55a0;
}

.imagem-post {
    margin-bottom: 50px;
}

.imagem-post img {
    width: 100%;
    padding: 20px 0 30px 0;
}